html, body {
    background-color: black;
}

#jumbo1{
    width: 75%;
    position: relative;
    left: 3%;
    margin: 10%;
}

#jumbo2 {
    width: 75%;
    position: relative;
    left: 13%;
    margin: 5px;
}

#modalbody p{
    text-align: center;
}

#profileImg{
    position: relative;
    left: 26%;
}

